@font-face {
    font-family: "KumbhSans";
    src: url("@/assets/fonts/KumbhSans-VariableFont_wght.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "KumbhSans", serif;
        background-color: theme("colors.pure-white");
    }
}

.dark {
    background-color: theme("colors.dark-2");
}
